.bg-image {
    position: relative;
}

.bg-image:before {
    background-image: url('../../Assets/3969.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.25;

    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.bg-ashesi {
    position: relative;
    /* height: 100vh; */
}

.bg-ashesi:before {
    background-image: url('../../Assets/Ashesi_Seal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.05;

    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
}

.root {
    margin: 0;
    padding: 0
  }
  
  
  @media print {
    html,
    body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-after: always;
    }
  }
  
  @page {
    size: auto;
    /* margin: 20mm; */
  }

  .bottom{position:absolute; bottom:0; right: 0; left: 0;}

  @media print {
    @page { size: landscape; }
  }